body {
  font-family: Arial;
  background: #111;
  color: white;
  margin: 0;
  padding: 0;
}
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  background: #222;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}